.header__title {
	font-weight: 700;
	color: white;
}

.note {
	display: flex;
	flex-direction: column;
	gap: 15px;

	&__title {
		font-size: 20px;
		font-weight: 700;
	}

	&__text {
		font-size: 18px;
	}
	
	&__date {
		font-size: 14px;
		font-weight: 300;
	}
}